@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;


.character-sheet {
    // border: solid green 2px;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: clamp(5rem, 7vw, 8rem); // can i make this utility class? needed for spacing below every heading

    @media (min-width: 1175px) {
        gap: 0;
    }

    .title {
        padding-bottom: 1rem;
        text-align: center;
    
        @media (min-width: 1105px) {
            text-align: left;
        }
    }

    .attributes {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 200px));
        gap: 1.5rem;
        padding-bottom: $flow-space-xl;
    
        > p {
            width: max-content;
        }
    
        .attribute {
            display: inline-block;
            border: solid 1px $clr-logo;
            border-radius: 10px;
            width: min-content;
            padding: .5rem 1rem;
            margin-right: .75rem;
        }
    }
    
    .skills {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
    
        .skills-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    img {
        object-fit: cover;
        flex: 0 1 50%;
    }
}




