@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

.character-sheet {
    // border: solid green 2px;
    max-width: 900px;
    
    @media (min-width: $mq-1000) {
        display: grid;
        // gap: 2rem;
        grid-auto-flow: column;
        grid-auto-columns: 50%;
    }
    
    .description {
        // border: solid purple 2px;
        grid-column: 1;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        
        @media (min-width: $mq-1000) {
            justify-self: right;
            align-self: center;
            margin: 0;
            text-align: left;
        }

        .title {
            padding-bottom: 1rem;
        }

        .attributes {
            // border: solid brown 2px;
            // max-width: fit-content;
            // margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            gap: .75rem;
            padding-bottom: $flow-space-sm;
        
            > p {
                // border: solid green 2px;
                width: max-content;
            }
        
            .attribute-score {
                display: inline-block;
                border: solid 1px $clr-logo;
                border-radius: 10px;
                width: min-content;
                padding: .5rem 1rem;
                margin-right: .75rem;
            }
        }

        .skills {
            flex-wrap: wrap;
            justify-content: space-evenly;
        
            .skills-list {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    .character-image {
        // border: solid purple 2px;
        height: 50vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        margin: 1rem 0;


        @media (min-width: $mq-1000) {
            margin: 0;
            background-size: cover;
            height: 100%;
        }
    }


  
}




