@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

/* Header */
.primary-header {
    // border: solid 2px red;
    padding: $p-body;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 50px;
        width: 50px;
    }

    @media (min-width: $mq-1000) {
        position: fixed;
        inset: 0 0 auto 0;
    }
}

/* Main navigation */
.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 35rem) {
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 100;
        flex-direction: column;
        background-color: rgba(41, 41, 41, 0.966); //IE11, Firefox
        padding: min(20rem, 10vh) 2rem;
        transform: translateX(100%);

        // for anything other than IE11, Firefox, 
        @supports (backdrop-filter: blur(1rem)) {
            background-color: transparentize($clr-logo , .95);
            backdrop-filter: blur(1rem);
        }
    }

    & a {
        text-decoration: none;
        color: $clr-white;
    }

}

/* Hamburger */ 
.mobile-nav-toggle {
    border: none;
    display: none;
    position: absolute;
    background: transparent;
    background-image: url(../../images/hamburger.png);
    background-repeat: no-repeat;
    top: 2.85em;
    right: 2em;
    width: 1.5rem;
    aspect-ratio: 1;
    z-index: 2000;
    cursor: pointer;
    transition: transform 250ms ease-in-out ;

    @media (max-width: 35rem) {
        display: block;
    }
}

.nav-open .primary-navigation {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
}

.nav-open .mobile-nav-toggle {
    background-image: url('../../images/nav-toggle-close.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

/* Hover styles */
.underline-indicators a {
    padding: .75rem 0;
    border-bottom: 2px solid transparent;
    width: max-content;

    &:hover,
    &:focus {
        border-bottom: 2px solid $logo-50;
    }
    
    &:visited {
        color: $clr-white;
    }
}

/* Active styles */
.underline-indicators a.active {
    border-bottom: 2px solid $clr-logo;

    @media (max-width: 35rem) {
        border: 0;
    }
}


/* Slider navigation dots */
.dot-indicators > * {
    padding: .5rem;
    background-color: $white-75;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    cursor: pointer;

    &:hover, 
    &:focus {
        background-color: $white-50;
    }
    
    &[aria-selected="true"] {
        background-color: $clr-white;
    }
}






