@use '../abstracts/variables' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;

.tile {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitle {
    color: $clr-white;
    margin: 1rem 0 5rem;
    
    @media (min-width: $mq-1000) {
        display: grid;
        align-content: end;
        height: 100%;
        margin: 0;
        padding: 4rem 4.5rem;
        border-radius: 2rem;
        // text-transform: uppercase;
        // font-weight: $fw-700;
        color: transparent;
        
        &:hover,
        &:focus {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 23.85%, #030303 118.65%);
            color: $clr-white;
        }
        
    }

}




