@use '../abstracts/variables' as *;

.hero {
    gap: clamp(4.5rem, 7vw, 7rem);
    align-items: center;
    margin-bottom: 4rem;
    text-align: center;

    & > .flow-xs {
        max-width: 400px;
    }

    @media (min-width:  $mq-1000 ) {
        align-items: flex-start;
        margin-bottom: 0;
        text-align: left;

        & > .flow-xs {
            max-width: 500px;
        }
    }
}
