@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

body {
    font-family: $ff-body;
    font-size: $fs-400;
    font-weight: $fw-400;
    color: $clr-white;
    background-color: $clr-black;
}

::-webkit-scrollbar {
    width: .5em;
    height: .4em;
}

::-webkit-scrollbar-track {
    background: $clr-black;
}

::-webkit-scrollbar-thumb {
    background: $clr-logo;
    border-radius: 2rem;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: $clr-logo $clr-black;
    }
}
