@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;


@media (min-width: 62.5rem) {
    .primary-header {
        position: fixed;
        inset: 0 0 auto 0;
    }
}

.home {
    // border: solid 2px red;
    padding: 2rem clamp(1rem, 4vw, 4rem) 5rem; 

    .hero {
        margin-bottom: clamp(4rem, 15vh, 7rem);
    } 

    .footer {
        margin-top: 10rem;
    }

    > a {
        text-decoration: none;

        .subtitle {
            text-align: center;
        }
    }

    @media (min-width: $mq-768) {
        > a .subtitle {
            text-align: left;
        }
    }

    @media (min-width: $mq-1000) {
        padding-top: 10rem;
        height: 100vh;
        display: flex;
        gap: 7rem;
        overflow-x: scroll;

        .hero, 
        .footer {
            flex: 1 0 50%;
            max-width: 1000px;
        }

        .footer {
            margin: 0;
            align-self: center;
        }

        > a {
            flex: 0 0 50%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            width: clamp(15rem, 40vw, 100rem);
            border-radius: 2rem;
            
            :hover, 
            :focus {
                outline: solid 3px $clr-logo;
            }
            
            .tile,
            .subtitle {
                grid-column: 1 / 3;
                grid-row: 1 / 3;
            }

            .subtitle {
                text-align: left;

                :hover, 
                :focus {
                    outline: none;
                }
            }
        }
    }
}


