@use '../abstracts/variables' as *;

.merch {
    // border: solid purple 2px;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    height: 100%;
  

    .button-contianer {
        align-self: center;
    }

    @media (min-width: $mq-1000) {
        margin-top: 6rem;
    }
    
}

.cards {
    // border: solid green 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    

    @media (min-width: $mq-768) {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}