@use '../abstracts/variables' as *;

.merch {
    background-image: url('../../images/logos/bg-logo-lrg-opt.jpg');
    background-position: center;
    // padding: 4rem 0;

    // used on every section top - make a mixin?
    @media (min-width: $mq-1000) {
        margin-top: 10rem;
    }
    
}

.merch:last-of-type {
    // border: solid red 2px;
    padding-top: 3rem;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: clamp(5rem, 7vw, 8rem); // can i make this utility class? needed for spacing below every heading

    @media (min-width: $mq-768) {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }
}

.shop-link {
    background: black;
    padding: 2rem 0 0;
    margin-block-end: 10rem;
}

