/* Font-sizes */
$fs-900: 6rem; 
//$fs-800: 3rem; //48px
$fs-800: clamp(2rem, 4vw, 3rem); 
$fs-700: 2.25rem;
$fs-600: 2rem;
$fs-500: 1.5rem; 
$fs-400: 1.125rem; // body - 18px
//$fs-400: clamp(.875rem, 4vw, 1.125rem); // body - 18px
$fs-300: 1rem; 
// $fs-300: clamp(.875rem, 4vw, 1rem); 
$fs-200: 0.875rem;

/* Font-families */
$ff-body: 'Quicksand', sans-serif;
$ff-accent: 'Bangers', cursive;

/* Font-weights */
$fw-700: 700;
$fw-500: 500; // medium
$fw-400: 400;
$fw-300: 300; 

