/*  Flex and Grid */
$gap: 2rem;

/*  Flow */
$flow-space-xs: 1rem;
$flow-space-sm: 1.5rem; // 24px
$flow-space-md: 2rem; // 32px
$flow-space-lg: 2.25rem; // 36px
$flow-space-xl: 3rem; // 48px
$flow-space-xxl: 4rem; // 64px
$flow-space-xxxl: 8rem; // 128px
